.button{
    background-color: #C0392B;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    /* margin: 5px; */
    display: inline-block;
    text-decoration: none;
    /* transition: background-color 0.2s, transform 0.2s; */
    /* width: 90.9%; */
  }
  

.button:hover{
    /* transform: scale(1.1); */
    background-color: #ff1900;
    cursor: pointer;
}