.header{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    min-height: 46px;
    width: 100%;
}

.itens{
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.itens h1 {
    font-size: 19px;
}

.itens h2 {
    font-size: 20px;
    background-color: #ff0000;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0px 5px;
}

.itens h3 {
    font-size: 13px;
}